# Database URLs
POSTGRES_URL=postgresql://postgres:phatadmin@localhost:5432/HealthAI

# MongoDB Connection String
# Option 1: MongoDB Atlas (Cloud)
# Format: mongodb+srv://username:password@cluster.mongodb.net/database_name?retryWrites=true&w=majority
# MONGO_URL=mongodb+srv://your_username:your_password@your_cluster.mongodb.net/HealthAI?retryWrites=true&w=majority

# Option 2: Local MongoDB
MONGO_URL=mongodb://localhost:27017/
MONGO_DB_NAME=HealthAI

# API keys
GOOGLE_API_KEY=your_google_api_key_here
OPENAI_API_KEY=your_openai_api_key_here
